/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end Css Reset */

body {
  font-family: 'Arial';
  font-size: 16px;
  padding: 0;
}

h1 {
  font-size: 2.25em;
  text-align: center;
  line-height: 2.25em;
  font-weight: bold;
  color: rgb(92, 12, 12);
}

h2 {
  font-size: 24px;
  line-height: 1.85em;
  font-weight: bold;
  text-align: center;
  color: rgb(18, 46, 59)
}

h3 {
  font-size: 1.65em;
  line-height:  1.65em;
  margin: 2%;
}

h4 {
  font-size: 1.5em;
  line-height:  1.5em;
  margin: 2%;
  color: rgb(100, 100, 100);
}

h5 {
  font-size: 1.25em;
  line-height:  1.25em;
  margin: 2%;
}

h6 {
  font-size: 1em;
  line-height:  1em;
  margin: 2%;
}

button {
  background-color: #fff;
  border: 2px solid rgb(51, 51, 51);
  width: 120px;
  height: 40px;
  margin: 3%;
  border-radius: 5px;
  cursor: pointer;
}

/* header */
header {
  width: 100%;
  height: 50px;
  padding: 1% 0;
  background-color: rgb(18, 46, 59);
  color: #fff;
}

header a {
  line-height: 50px;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 2%;
  text-decoration: none;
  color: #fff;
}

header p {
  text-align: right;
  line-height: 50px;
  font-size: 18px;
  float: right;
  margin: 0 5% 0 0;
  font-weight: bold;
}

/* banner */
.banner {
  margin: 5% auto 10%;
}

/* Scrumboard */
.scrumboard-container {
  display: flex;
  padding: 1% 5%;
}

.scrumboard-container .scrumboard-list {
  flex-basis: 33%;
  height: fit-content;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 1%;
  background-color: rgb(18, 46, 59);
}

/* card */
.card-directive-container {
  padding: 2% 5%;
  background-color: rgb(231, 229, 231);
  border-radius: 5px;
  margin:5%;
}

.card-directive-container h4 {
  text-align: center;
  margin-bottom: 10%;
}

.card-directive-container .description {
  margin: 15% 0;
  color: rgb(18, 46, 59);
}

.card-directive-container h6 {
  margin: 5% 0;
  color: rgb(18, 46, 59);
}

.edit-card-toggle {
  text-align: right;
  margin: 5% 0 10% 0; 
  cursor: pointer;
}


.scrumboard-container h2 {
  color: rgb(235, 235, 235);
}

/* add card container */
.add-card-container {
  background-color: rgb(231, 229, 231);
  padding: 2% 5%;
  width: 80%;
  margin: 0 auto;
  border-radius: 5px;
}

.add-card-container input,
.add-card-container textarea {
  margin: 5% 0;
  width: 95%;
  border-radius: 2px;
  border: 1px solid;
  padding: 1% 3%;
}

.add-card-container input {
  height: 2em;
}

.add-card-container textarea {
  height: 6em;
}

input[type="number"] {
  width: 30px;
  display: block;
  margin: 3% 0;
}

.add-card-container button {
  margin: 10% auto;
  display: block;
  font-size: 1.15em;
}

/* update card form */
.card-directive__update-form .update-title {
  height: 40px;
  width: 80%;
  font-size: 2em;
  color: rgb(100, 100, 100);
  border-radius: 4px;
  margin: 5% 0;
  border: 1px #000;
  padding: 1% 4%;
}

.card-directive__update-form textarea {
  width: 80%;
  height: 150px;
  padding: 2% 4%;
  margin: 5% 0;
}

.card-directive__update-form span {
  display: inline;
  cursor: pointer;
}

.card-directive__update-form span:hover {
  font-weight: bold;
}

.card-directive__update-form select {
  margin: 3% 0;
}

.show-new-card-form-toggle {
  color: rgb(231, 229, 231);
  cursor: pointer;
  margin: 5%;
  font-weight: bold;
}

.update-delete {
  display: inline-block;
  margin: 5% 0;
  font-weight: bold;
  cursor: pointer;
}

/* Filter container */
.filters-contianer {
  width: 100%;
}

.filters-container input,
.filters-container select {
  margin: 0 auto;
  display: block;
  width: 80%;
  font-size: 1.15em;
  padding: 1% 2%;
  height: 30px;
}

.filters-container select {
  width: 85%;
  height: 37px;
}

.filters-container p {
  color: rgb(231, 229, 231);
  line-height: 40px;
  padding-left: 10%;
}

.login-form {
  width: 25%;
  margin: 10% auto;
  border: 1px solid #ccc;
  padding: 2% 4%;
  border-radius: 4px;
}

.login-form .input-group {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.login-form label {
  display: block;
  margin: 2% 0;
}

.login-form input {
  margin-bottom: 10%;
  width: 96%;
  height: 20px;
}

.login-form button {
  margin: 10% auto;
  display: block;
}

@media screen and (max-width: 500px) {
  button {
    width: 80px;
    height: 30px;
  }

  .login-form {
    width: 80%;
  }
}